
body {
background-color: #05BFDB;
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

.navbar {
border: 3px solid #000000;
background-color: #0A4D68;
color: #FFFFFF;
width: 200px;
height: 100vh;
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.navbar-brand {
font-weight: bold;
font-size: 24px;
margin-bottom: 20px;
color: #FFFFFF;
}

.navbar-links {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
}

.navbar-link {
margin-bottom: 10px;
}

.navbar-link a {
color: #FFFFFF;
text-decoration: none;
font-size: 18px;
transition: color 0.3s ease;
}

.navbar-link a:hover {
color: #088395;
}

.dashboard-content {
position: relative;
margin-left: 200px;
padding: 20px;
color: #333333;
}

.element {
border-radius: 20px;
border: 1px solid;
color: #ffffff;
text-align: center;
font-family: 'Roboto', sans-serif;
}

#mac {
height: 20vh;
right: 10vh;
font-size: 3vh;
background: rgb(124, 30, 255);
background: -moz-linear-gradient(24deg, rgba(124, 30, 255, 1) 0%, rgba(176, 94, 238, 1) 58%, rgba(255, 0, 224, 1) 100%);
background: -webkit-linear-gradient(24deg, rgba(124, 30, 255, 1) 0%, rgba(176, 94, 238, 1) 58%, rgba(255, 0, 224, 1) 100%);
background: linear-gradient(24deg, rgba(124, 30, 255, 1) 0%, rgba(176, 94, 238, 1) 58%, rgba(255, 0, 224, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7c1eff", endColorstr="#ff00e0", GradientType=1);
}

#inter {
max-width: 40rem;
height: 30vh;
font-size: 3vh;
margin-top: 2vh;
background: hsla(34, 95%, 49%, 1);
background: linear-gradient(45deg, hsla(34, 95%, 49%, 1) 0%, hsla(12, 83%, 63%, 1) 15%, hsla(343, 80%, 65%, 1) 100%);
background: -moz-linear-gradient(45deg, hsla(34, 95%, 49%, 1) 0%, hsla(12, 83%, 63%, 1) 15%, hsla(343, 80%, 65%, 1) 100%);
background: -webkit-linear-gradient(45deg, hsla(34, 95%, 49%, 1) 0%, hsla(12, 83%, 63%, 1) 15%, hsla(343, 80%, 65%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F28C06", endColorstr="#EF7050", GradientType=1);
}

#conf {
margin-top: 2rem;
background: linear-gradient(115deg, #910de2, #20adb2);
max-width: 30rem;
left: 4rem;
height: 20vh;
align-items: center;
justify-content: center;
padding: 1rem;
}

.row {
width: 100%;
}

#conf button {
margin-right: 1rem;
}

#conf input[type="range"] {
width: 100%;
}

@media (max-width: 768px) {
#conf {
 flex-direction: column;
 height: auto;
}

#mac {
 order: -1;
}
}


